*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App{
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

nav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
}

nav > ul{
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a{
  text-decoration: none;
  font-size: 18px;
}

nav a:hover{
  color: #ff4597;
}

.active {
  font-weight: 700;
  border-bottom: 2px solid #021859;
}

nav  button{
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #ff4597;
  color: white;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgb(255 69 151 / 80%) 0px 4px 16px 0px;
  transition: all .2s ease;
  cursor: pointer;
}

.sectionHome{
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.sectionHome > h1{
 font-size: 36px;
 width: 35%;
 color: #021859;
}

.content-offers{
  margin: 50px auto;
  margin-bottom: 50px;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgb(247, 243, 243);
 
}

.content-offers > h2{
  text-align: center;
  margin-top: 10px;
  color: #021859;
  font-size: 28px;
  
}

.content-offers > p{
  margin: 15px 0px;
  color: #021859;
  font-size: 14px;
  text-align: center;
}
.content-card-offers {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.content-car{ 
  border-radius: 10px;
}

.content-car > img{
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.title-brand{
  color: #021859;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.content-car {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  width: 30%;
  box-shadow: rgb(195 205 224 / 80%) 0px 2px 16px 0px;
  border-radius: 10px;
}

.content-info{
  display: flex;
  align-items: center;
  gap: 80px; 
  padding: 10px;
}

.price{
  color: #0b9ed9;
  font-weight: 700;
  font-size: 20px;
}

.content-car > div button{
  padding: 10px;
  width: 80%;  
  margin: 15px 0px;
  background: none;
  border: 1px solid #0b9ed9;
  border-radius: 10px;
  color: #0b9ed9;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

#button {
  margin-bottom: 10px;
  background: none;
  border: 1px solid #0b9ed9;
  border-radius: 10px;
  color: #0b9ed9;
  padding: 10px;
}

.headerForm {
  width: 100%;
  height: 180px;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(247, 243, 243, 0.352);
 /*  border-top: 1px solid rgba(247, 243, 243, 0.796);
  border-bottom: 1px solid rgba(247, 243, 243, 0.796); */
  box-shadow: 0px 0px 1px 2px rgba(247, 243, 243, 0.621) inset;
}
.headerForm > div > img {
  height: 150px;
}
.headerForm-title {
  font-size: 30px;
}
.beforeTitle {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
}
form {
  width: 650px;
  margin-top: 50px;
  padding: 20px 0px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 70px;
}
label {
  font-size: 24px;
}
.file {
  width: 75%;
  height: 100px;
  margin: 10px auto;
  border: 1px dotted black;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.file > input {
  background-color: transparent;
  height: 25px;
  border-radius: 2px;
}
.inputs {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.inputs > label {
  font-size: 18px;
}
.inputs > select {
  margin-bottom: 10px;
  background-color: transparent;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgb(206, 203, 203);
}
.inputs > input {
  margin-bottom: 10px;
  background-color: transparent;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgb(206, 203, 203);
}
.buttons {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.buttons > button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #4aae1e;
  color: white;
  font-weight: 700;
  font-size: 16px;
  box-shadow: rgba(97, 255, 69, 0.8) 0px 4px 16px 0px;
  transition: all .2s ease;
}

.buttons > button:hover {
  cursor: pointer;
  background: #368116;
}

.content-card-offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.section-ads{
  margin-top: 2rem;
  width: 90%;
  height: 100vh;
}

.section-ads > h1{
  text-align: center;
  color: #021859;
}

.ads-info{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}

.section-ads > p{
  margin-top: 0.5rem;
  text-align: center;
  color: #021859;
  font-size: 18px;
}

.aside-ads{
  width: 20%;
  height: 80%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}

.aside-ads h3{
  color: #021859;
}

.aside-ads small{
  display: block;
  margin: 0px;
  letter-spacing: 0px;
  color: rgb(172, 181, 198);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.filterCoche{
  display: block;
  margin: 0px;
  letter-spacing: 0px;
  color: rgb(2, 24, 89);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-top: 1rem;
}

.contentTypeCoche{
  margin-top: 1rem;
  width: 100%;
  height: 45px;
  border: 2px solid #cccccc;
  border-radius: 12px;
}

.cards-ads{
  display: grid;
  grid-template-columns: repeat(3,1fr);  
  gap: 30px;
  margin-bottom: 30px;
}

.card-ads{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;  
  border-radius: 10px;
  box-shadow: rgb(195 205 224 / 80%) 0px 2px 16px 0px;
}

.card-ads img{
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}

.card-info-ads{
  display: flex; 
  align-items: center;
  gap: 40px;
  margin: 5px;
}

.card-ads button{
  padding: 10px;
  width: 80%;  
  margin: 15px 0px;
  background: none;
  border: 1px solid #0b9ed9;
  border-radius: 10px;
  color: #0b9ed9;
  font-weight: 700;
  font-size: 15px;
}






/* create ads */
.discount {
  
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.discount > div > label {
  margin-right: 5px;
  font-size: 22px;
}
.titleH3 {
  text-align: center;
  margin-bottom: 10px;
}


/* footer form */
.footerForm {
  margin-top: 5px;
  width: 100%;
  height: 200px;
  background-color: #021859;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footerTitle {
  color: white;
  font-size: 25px;
}
.boxButtons {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxButtons > button {
  font-size: 22px;
  font-weight: bold;
  width: 35%;
  height: 70px;
  border: 1px solid white;
  border-radius: 12px;
  padding: 3px;
}

.pink {
  color: #021859;
  background-color: #ff4597;
  transition: all .2s ease;
}
.blue {
  color: #021859;
  background-color: #0b9ed9;
  transition: all .2s ease;
}
.pink:hover {
  cursor: pointer;
  color: white;
}

.blue:hover {
  cursor: pointer;
  color: white;
}

@media ( min-width: 1500px ) {
  .section-ads{
    width: 70%;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 47vh;
  display: flex;
  align-items: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #021859;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #021859 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contentCreateCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCreate{
  box-shadow: rgb(195 205 224 / 80%) 0px 2px 16px 0px;
  border-radius: 10px;
  margin: 3.5rem 0rem;
}

.cardCreate img{
  min-width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.infoCardCreate{
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 10px;
  height: 100px;
}
 
/* white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
font-weight: 600;
border-radius: 28px;
width: 325px;
font-size: 21px;
line-height: 32px;
padding: 13px 20px;
  padding-left: 20px;
vertical-align: middle;
display: flex;
margin: 0px auto;
  margin-right: auto;
  margin-bottom: 0px;
-moz-box-pack: center;
justify-content: center;
max-width: 100%;
cursor: pointer;
color: rgb(255, 255, 255);
background: rgb(255, 69, 151) none repeat scroll 0% 0%;
box-shadow: rgba(255, 69, 151, 0.8) 0px 4px 16px 0px;
border: 1px solid rgb(255, 69, 151); */
