* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    border: 1px solid black;
}